.form  {
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
}
.form input {
  background-color: #a0dea0;
  border-radius: 12px;
}
.textfield{
  width: 100%;
  overflow: hidden;
  background-color: #a0dea0;
  min-height: 100px;
  line-height: 20px;
  resize: vertical;
  overflow: auto;
  border-radius: 12px;
}

.submitBtn {
 background-color: #173617; /* Green background */
 border: 1px solid green; /* Green border */
 color: black; /* White text */
 padding: 10px 10px; /* Some padding */
 cursor: pointer; /* Pointer/hand icon */
 text-align: center;
}
.submitBtn:hover {
  background-color: #3e8e41;
}
